{% extends "base.html" %}
{% block title %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="panel">
    <h1>(Served from Flask server's '/viewdata' route)</h1>

    <div class="cardsContainer">
        <div class="card">
            <h3>Default 'to_dict()' conversion from DataFrame to dictionary</h3>
            <p>The column headings are the dictionary's <em>keys</em>, and the <em>values</em> are a dictionary of all the cell-values in a column, with row number as key.</p>
            <p><em>{{col_dic_data}}</em></p>
        </div>
        <div class="card">
            <h3>Customised 'to_dict()' conversion from DataFrame to dictionary</h3>
            <p>The column headings are the dictionary's <em>keys</em>, and the <em>values</em> are a dictionary of all the cell-values in a column, with row number as key.</p>
            <p><em>{{data}}</em></p>
        </div>
        <div class="card">
            <table>
                <thead>
                    <tr>
                        <td>Customer ID</td>
                        <td>Name</td>
                    </tr>
                </thead>
                {% for (k, v) in data.items() %}
                <tr>
                    <td>{{k}}</td>
                    <td>{{' '.join(v)}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<h5>(end of viewdata.html)</h5>
{% endblock %}