{% extends "base.html" %}
{% block title %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="panel">
    <h1>(Served from Flask server's '/viewdata' route)</h1>

    <div class="cardsContainer">
        <div class="card">
            <h3>1. <code>dataframe.to_dict()</code> conversion to dictionary</h3>
            <p>The column headings are the dictionary's <em>keys</em>, and the <em>values</em> are dictionaries of the cell-values in each column, with row number as key.</p>
            <p><code>{{col_dic_data}}</code></p>
        </div>
        <div class="card">
            <h3>2. <code>dataframe.set_index('Customer').T.to_dict('list')</code> conversion to dictionary</h3>
            <p>The first column's cell-vaues are the dictionary's <em>keys</em>, and the <em>values</em> are lists of the cell-values from the other columns in each row.</p>
            <p><code>{{data}}</code></p>
        </div>
        <div class="card">
            <h3>Second dictionary's data rendered in a table</h3>
            <p>The customised dictionary is passed from the <em>'/viewdata'</em> route to this template, where it's <em>'.items()'</em> are rendered in a  &lt;table&gt;.</p>
            <table>
                <thead>
                    <tr>
                        <td>Customer ID</td>
                        <td>Name</td>
                    </tr>
                </thead>
                {% for (k, v) in data.items() %}
                <tr>
                    <td>{{k}}</td>
                    <td>{{' '.join(v)}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}