/* --> Style resets, and some intitalisations ---------- */
body {
    background-color: lightgrey;
    color: rgb(40, 40, 40);
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 0.9em;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
  /* ================================================== */



  /* --> Headings ---------- */
  h1, h2, h3, h4, h5, h6 {
    color: rgb(80, 80, 80);
    font-family: 'Roboto', sans-serif;
  }
  /* ================================================== */
  
  
  
  /* --> Primary wrapper ---------- 
  NOTE:
    - This container is a wrapper, providing a centered single-column layout for its children
    - The children could be anything, but are intended to be <div> elements with class="panel"
    - These 'panels' are intended to be the main containers of actual content
  */
  .flex-container-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 2em; */
  }

  /* ================================================== */
  
  
  
  /* --> Panel (*primary* general-purpose container) ---------- 
  NOTE:
    - panels are rendered as simple white boxes with slightly rounded corners and a soft shadow
    - no specified width: they shrink/grow with content (this could always be changed)
  */
  .panel {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 2em;
    min-width: 80%;
    padding: 0 2em 2em 2em;
    /* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
  }

  /* --> Eliminate top margin in panel placed inside main */
  main .panel {
    margin-top: 0em;
  }
  
  /* --> Add top margin to any panel placed immediately after a panel */
  .panel + .panel {
    margin-top: 4em;
  }
  /* ================================================== */
  


  /* --> Navigation bar ---------- */
  nav .panel {
    padding: 1em 2em;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav li {
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
  }

  nav li a {
    color: rgb(50, 120, 200);
    display: block;
    margin-right: 1em;
    text-decoration: none;
    border-bottom: 5px transparent solid;
  }

  nav li a:active {
    color: rgb(50, 90, 170);
  }

  nav li a:hover {
    color: rgb(50, 90, 170);
    border-bottom: 4px lightgrey solid;
  }

  nav .active {
    border-bottom: 4px lightgrey solid;
  }
  /* ================================================== */



  /* --> customer list, invoice list, invoice details tables ---------- */
  table.customers th,
  table.invoices th,
  table.invoice-details th {
    font-size: 1.1em;
    text-align: left;
    color: grey;
  }
  table.customers td:first-child,
  table.invoices td:first-child {
    padding-right: 1em;
  }
  table.customers td:last-child,
  table.invoices td:last-child,
  table.invoices th:last-child {
    padding-left: 1em;
  }
  table.customers button:first-child {
    margin-right: 0.5em;
  }

  table.invoice-details td.price {
    text-align: right;
  }
  table.invoice-details th.units,
  table.invoice-details td.units {
    text-align: center;
  }
  table.invoice-details th.item,
  table.invoice-details td.item {
    padding-left: 1em;
  }
  table.invoice-details td:last-child,
  table.invoice-details th:last-child {
        padding-left: 2em;
  }
  table.invoice-details tfoot {
    font-size: 1.2em;
    font-weight: bold;
  }
  table.invoice-details tfoot td:first-child {
    padding-right: 1em;
    text-align: right;
    text-transform: uppercase;
  }
  table.invoice-details tfoot td:last-child {
    border-top: 2px solid grey;
    line-height: 2.5em;
  }
  p.invoice-customer,
  p.invoice-date {
    font-size: 1.2em;
  }
  p.invoice-customer :last-child {
    font-style: italic;
    font-size: 0.9em;
    padding-left: 0.5em;
  }
  h1 :last-child {
    /* font-family: monospace; */
    font-style: italic;
    font-size: 0.6em;
    font-weight: normal;
    padding-left: 1em;
  }

/* ================================================== */

  
  
  /* --> Card (*secondary* general-purpose container) ----------
  NOTE:
   - A <div> with class="cardsContainer" is meant to contain a (centered) series of 'cards'
   - 'cards' are simple white boxes, with slightly rounded corners, a soft shadow,
      and appear to raise on hover
   - 'cards' are not restricted to use inside a 'cardsContainer' - they can be
     used inside 'panels', or elsewhere...
  */
  
  .cardsContainer {
    text-align: left;
  }
  
  .card {
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: 1em;
    padding: 1em;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
  }
  
  .card h3+p {
      background-color: #eee;
      font-size: 1.1em;
      padding: 1em;
  }
  
  .card table {
      border-collapse: separate;
      border-spacing: 25px 0px;
  }
  
  .card thead {
      font-size: 1.1em;
      font-weight: bold;
  } 
  
  .card td:first-child {
      text-align: center;
  } 
  /* ================================================== */
  
  
  
  /* --> Buttons & input fields ---------- 
  NOTE:
    - Renders small blue buttons, with rounded corners, soft shadows, and subtle hover effects
    - Any <button> with class="severe" is red
    - Text and number input fields have rounded corners with thin borders, which darken on hover
  */
  button {
    background: rgb(50, 120, 200);
    border-radius: 0.25em;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    font-weight:bold;
    line-height: 0.5em;
    margin: 0.1em;
    margin-top: 0.5em;
    padding: 0.6em;
    text-align: center;
    text-decoration: none;
    transition: background 100ms ease-in-out, 
                transform 100ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  button:hover,
  button:focus {
    background: rgb(50, 90, 170);
  }
  
  button:active {
    transform: scale(0.90);
  }
  
  button.severe {
    background: rgb(230, 90, 90);
  }
  
  button.severe:hover, button.severe:focus {
    background: rgb(210, 70, 70);
  }
  
/* ---- prominent button ---- */
.prominent {
  background: rgb(0, 160, 0);
  font-size: 1.2em;
  padding: 1em;
  margin-bottom: 2em;
  /* float: right; */
}
.prominent:hover,
.prominent:focus {
  background: rgb(0, 140, 0);
}
/* ---------------- */

  input[type=text], input[type=number] {
    border-radius: 4px;
    border: 1px solid #ccc; 
    padding: 5px;
    transition: border-color 80ms ease-in-out;
  }
  
  input[type=text]:hover, input[type=number]:hover {
    border-color: darkgrey;
  }
  
  input[type=text]:focus, input[type=number]:focus {
    border-color: darkgrey;
  }
  /* ================================================== */
  